<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <servlet>
        <servlet-name>ComputeDistanceService</servlet-name>
        <servlet-class>cz.cvut.fel.wa2.services.GetDistanceServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ComputeDistanceService</servlet-name>
        <url-pattern>/Distance</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>RefuelsService</servlet-name>
        <servlet-class>cz.cvut.fel.wa2.services.RefuelsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RefuelsService</servlet-name>
        <url-pattern>/Refuels</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DeleteRefuelService</servlet-name>
        <servlet-class>cz.cvut.fel.wa2.services.DeleteRefuelServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteRefuelService</servlet-name>
        <url-pattern>/Refuels/DeleteRefuel</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>TrackService</servlet-name>
        <servlet-class>cz.cvut.fel.wa2.services.TracksServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TrackService</servlet-name>
        <url-pattern>/Tracks</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>TrackWithCoordinatesService</servlet-name>
        <servlet-class>cz.cvut.fel.wa2.services.GetTrackWithCoordinatesServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TrackWithCoordinatesService</servlet-name>
        <url-pattern>/Tracks/Coordinates</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DeleteTrackService</servlet-name>
        <servlet-class>cz.cvut.fel.wa2.services.DeleteTrackServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteTrackService</servlet-name>
        <url-pattern>/Tracks/DeleteTrack</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>TripTipsService</servlet-name>
        <servlet-class>cz.cvut.fel.wa2.services.TripTipsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TripTipsService</servlet-name>
        <url-pattern>/TripTips</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DeleteTripTipService</servlet-name>
        <servlet-class>cz.cvut.fel.wa2.services.DeleteTripTipServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteTripTipService</servlet-name>
        <url-pattern>/TripTips/DeleteTripTip</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UsersService</servlet-name>
        <servlet-class>cz.cvut.fel.wa2.services.UsersServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UsersService</servlet-name>
        <url-pattern>/Users</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DeleteUsersService</servlet-name>
        <servlet-class>cz.cvut.fel.wa2.services.DeleteUserServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteUsersService</servlet-name>
        <url-pattern>/Users/DeleteUser</url-pattern>
    </servlet-mapping>


    <!--<servlet>-->
        <!--<servlet-name>InsertRefuelService</servlet-name>-->
        <!--<servlet-class>cz.cvut.fel.wa2.services.InserRefuelServlet</servlet-class>-->
    <!--</servlet>-->
    <!--<servlet-mapping>-->
        <!--<servlet-name>InsertRefuelService</servlet-name>-->
        <!--<url-pattern>/InsertRefuel</url-pattern>-->
    <!--</servlet-mapping>-->
</web-app>